<div class="landing container-fluid">
  <div class="row header">
    <div class="logo">
      <h2>{{siteName}}.COM</h2>
      <small>Find the perfect roommate</small>
    </div>
  </div>
  <div class="container">
    <section class="row hero">
      <article class="row spotRoommate">
        <h2 class="topic">Search for roommate</h2>
        <div class="col-12">
          <form>
            <label for="location" class="sr-only">Location</label>
            <input id="location" placeholder="where is your interest?" />
            <button class="btn locationSearch" type="submit">spot a roommate</button>
          </form>
        </div>
        <div class="navCards">
          <article>
            <div>
              <div></div>
              offer a place
            </div>
          </article>
          <article>
            <div>
              <div></div>
              find a room
            </div>
          </article>
        </div>
      </article>
    </section>
  </div>
</div>

  <div class="container-fluid">
    <section class="row justify-content-center">
      <h2 class="topic">How it works</h2>
      <article class="col-10 journey">
        <h3><span>How it works</span></h3>
        <ul class="list-unstyled text-center">
          <li>
            <span>1</span><div><h4> Spot</h4>
            <p>Not wonderland or nirvana, grasp the conclusion. Who can praise the silence and shame of a guru if he has the holographic milk of the sun?</p>
          </div>
          </li>

          <li>
            <span>2</span><div><h4> Negotiate</h4>
            <p>Not wonderland or nirvana, grasp the conclusion. Who can praise the silence and shame of a guru if he has the holographic milk of the sun?</p>
          </div>
          </li>

          <li>
            <span>3</span><div><h4>Move In</h4>
            <p>Not wonderland or nirvana, grasp the conclusion. Who can praise the silence and shame of a guru if he has the holographic milk of the sun?</p></div>
          </li>

        </ul>
      </article>

    </section>

    <section id="testimonies">
      <div class="row">
        <div class="col-12">
          <h2 class="topic">Testimonies</h2>
          <h3><span>Testimonies</span></h3>
          <div class="holder">
            <img src="/assets/images/1.jpg" class="testimony" />
            <img src="/assets/images/1.jpg" class="testimony" />
            <img src="/assets/images/1.jpg" class="testimony" />
            <img src="/assets/images/1.jpg" class="testimony" />
            <img src="/assets/images/1.jpg" class="testimony" />
            <img src="/assets/images/1.jpg" class="testimony" />
            <article><img src="#" class="testimony show" /><p>
              Yes, there is order, it listens with booda-hood.Mint soup is just not the same without nutmeg and smashed sour quinoas.</p>
            </article>
            <article><img src="#" class="testimony" /><p>
              To the dried blueberries add ghee, meatballs, cream and salted pumpkin seeds. What’s the secret to aromatic and yellow tofu? Always use slobbery marmalade.</p></article>
            <article><img src="#" class="testimony" /><p>
              When the doer of mineral forgets the controls of the moon, the death will know thing. Space is not the secret shame of the spirit.</p>
            </article>
            <article><img src="#" class="testimony" /><p>Who can hurt peace and manifestation of a seeker if he has the imminent love of the saint?History traps when you synthesise with zen.</p></article>
            <article><img src="#" class="testimony" /><p>Who can receive the affirmation and blessing of a spirit if he has the important mineral of the sun?</p></article>
            <article><img src="/assets/images/1.jpg" />
              <h4>Anthony Martial</h4>
              <p><span>Chop turkey exactly, then mix with rice vinegar and serve quickly in cooker. Everyone just loves the consistency of peanuts salad varnishd with cumin.</span></p></article>
          </div>
        </div>
      </div>
    </section>

    <section id="contact" class="row justify-content-center">
      <h2 class="topic">Contact Us</h2>

      <article class="col-6">
        <h3><span>Contact Us</span></h3>
        <form class="row">
          <div class="col-6">
            <label for="fullName" class="sr-only">Enter Name</label>
            <input id="fullName" placeholder="Enter Full name" />
          </div>
          <div class="col-6">
            <label for="email" class="sr-only">Email</label>
            <input id="email" placeholder="Email Address" />
          </div>
          <div class="col-12">
            <label for="body" class="sr-only">Message</label>
            <textarea id="body" placeholder="Message" ></textarea>
          </div>
          <div class="col-12">
            <button class="btn" type="submit">Send</button>
          </div>
        </form>
      </article>
    </section>
  </div>
