<section>
  <article>
    <img src="#">
    <form>
      <label for="house">House Photos</label>
      <input id="house" type="file" multiple placeholder="Pictures of home">
      <button type="submit">Upload</button>
    </form>
  </article>
  <article>
    <form>
      <label for="type">House Type </label>
      <input id="type" placeholder="Bungalow, Self-contain..">
      <label for="area">Area</label>
      <input id="area" placeholder="Area">
      <label for="state">State</label>
      <input id="state" placeholder="State">
      <label for="country">Country</label>
      <input id="country" placeholder="Country">
      <button type="submit">Upload</button>
      <fa-icon chevron-up></fa-icon>
    </form>
  </article>
</section>
