<section class="profile">
  <article class="profilePix">
    <img src="#" alt="profile Pix" />
    <form>
      <label for="profilePix">Upload profile Pix: </label>
      <input id="profilePix" type="file">
    </form>
  </article>
  <article>
    <form>
      <label for="screenname">JDoe</label>
      <input id="screenname" placeholder="Screen name" required>
      <label for="fName">First Name: </label>
      <input id="fName" placeholder="First Name" required>
      <label for="LName">First Name: </label>
      <input id="LName" placeholder="Last Name">
      <div class="address">
        <label for="address1">Address 1:</label>
        <input id="address1" placeholder="Street Address 1">
        <label for="city">Address 1:</label>
        <input id="city" placeholder="City">
        <label for="state">State</label>
        <input id="state" placeholder="State">
        <label for="country">State</label>
        <input id="country" placeholder="Country">
      </div>
      <div class="contact">
        <label for="phone">Phone Number</label>
        <input id="phone" type="tel" placeholder="Phone number" />
        <label for="email">Email</label>
        <input id="email" placeholder="Email address" type="email">
      </div>

      <button type="submit">Update</button>
    </form>
  </article>

  <article>
    <button class="resetPass">Change Password</button>
  </article>
</section>
