<header class="row logoSection">
  <h1 class="col-lg-2 h6"><a routerLink=""><i class="fa fa-home"></i> </a>
  <span>menu</span></h1>
  <nav class="col-12 navigation">
    <ul class="list-unstyled text-center">
      <li><a routerLink="listings"><i class="fa fa-list"></i> </a>
        <span>listings</span>
      </li>
      <li>
        <i class="fa fa-user"></i>
        <span>profile</span>
        <ul>
          <li><a routerLink="signin"> sign in </a></li>
          <li><a routerLink="sign up"> sign up </a></li>
        </ul>
      </li>
      <li><a href="#"> <i class="fa fa-question-circle"></i> </a>
        <span>about</span>
      </li>
      <li><a href="#contact"><i class="fa fa-envelope"></i> </a>
        <span>contact</span>
      </li>
    </ul>
  </nav>
  <div class="drop"></div>
</header>
