<section>
  <article>
    <article>
    <h2>Sign in</h2>
    <form>
      <div>
        <label for="email" class="sr-only">Email Address</label>
        <input id="email" type="email" placeholder="Enter email address">
      </div>
      <div>
        <label for="password" class="sr-only">Password</label>
        <input id="password" type="password" placeholder="Enter password">
        <!--<i class="fa fa-eye"></i>-->
      </div>
      <button type="submit">Sign in</button>
    </form>
    </article>
  </article>
</section>
