<section class="row">
  <article class="col-3 inbox">
    <ul>
      <li class="userMessage">
        <img src="#" class="rounded-circle" />
        <span>John Doe</span>
        <div class="msg">Domesticus lixa solite</div>
      </li>
      <li class="userMessage">
        <img src="#" class="rounded-circle" />
        <span>John Doe</span>
        <div class="msg">Domesticus lixa solite</div>
      </li>
      <li class="userMessage">
        <img src="#" class="rounded-circle" />
        <span>John Doe</span>
        <div class="msg">Domesticus lixa solite</div>
      </li>
      <li class="userMessage">
        <img src="#" class="rounded-circle" />
        <span>John Doe</span>
        <div class="msg">Domesticus lixa solite</div>
      </li>
      <li class="userMessage">
        <img src="#" class="rounded-circle" />
        <span>John Doe</span>
        <div class="msg">Domesticus lixa solite</div>
      </li>
      <li class="userMessage">
        <img src="#" class="rounded-circle" />
        <span>John Doe</span>
        <div class="msg">Domesticus lixa solite</div>
      </li>
    </ul>
  </article>
  <div class="col-6">
    <ul>
      <li>
        <div class="message">
          <p>
            Rhubarb combines greatly with crushed peanut butter. Cover one container of chicken lard in half a kilo of white wine.
          </p>
          <small class="time">11:32am</small>
        </div>
      </li>
      <li>
        <div class="message">
          <p>
            Rhubarb combines greatly with crushed peanut butter. Cover one container of chicken lard in half a kilo of white wine.
          </p>
          <small class="time">11:32am</small>
        </div>
      </li>
      <li>
        <div class="message">
          <p>
            Rhubarb combines greatly with crushed peanut butter. Cover one container of chicken lard in half a kilo of white wine.
          </p>
          <small class="time">11:32am</small>
        </div>
      </li>
      <li>
        <div class="message">
          <p>
            Rhubarb combines greatly with crushed peanut butter. Cover one container of chicken lard in half a kilo of white wine.
          </p>
          <small class="time">11:32am</small>
        </div>
      </li>
      <li>
        <div class="message">
          <p>
            Rhubarb combines greatly with crushed peanut butter. Cover one container of chicken lard in half a kilo of white wine.
          </p>
          <small class="time">11:32am</small>
        </div>
      </li>
      <li>
        <div class="message">
          <p>
            Rhubarb combines greatly with crushed peanut butter. Cover one container of chicken lard in half a kilo of white wine.
          </p>
          <small class="time">11:32am</small>
        </div>
      </li>
      <li>
        <div class="message">
          <p>
            Rhubarb combines greatly with crushed peanut butter. Cover one container of chicken lard in half a kilo of white wine.
          </p>
          <small class="time">11:32am</small>
        </div>
      </li>
      <li>
        <div class="message">
          <p>
            Rhubarb combines greatly with crushed peanut butter. Cover one container of chicken lard in half a kilo of white wine.
          </p>
          <small class="time">11:32am</small>
        </div>
      </li>
      <li>
        <div class="message">
          <p>
            Rhubarb combines greatly with crushed peanut butter. Cover one container of chicken lard in half a kilo of white wine.
          </p>
          <small class="time">11:32am</small>
        </div>
      </li>
    </ul>
  </div>
</section>
