<section class="profile">
  <div class="row">
    <div class="profilePix col-3">
      <img src="/assets/images/1.jpg" alt="profile Pix" class="rounded" />
    </div>


    <section class="adds col-8">
      <div class="basicInfo">
        <!--<div><a routerLink="/edit_profile" href="#">Edit Profile</a> </div>-->
        <!--<div><a routerLink="/new_ad">New Add</a> </div>-->
        <div class="name h2">John Doe</div>
        <div class="username h4">JDoe </div>
        <div><i class="fa fa-map-marker"></i> <span>Ajah, Lagos</span></div>
        <div>No 5 Owoyemi Street</div>
        <div>Lagos State</div>
        <div>080123456789</div>
        <div>abc@companyname.com</div>
      </div>

      <div class="aboutMe">
        <h3>About Me</h3>
        <p>
          A falsis, humani generis superbus danista.Ignigenas peregrinationes in amivadum!Ubi est bassus
          frondator?Species altus devatio est.Caniss velum, tanquam azureus liberi.Galatae, luna, et nixus.
          Mons de placidus scutum, dignus genetrix!Particulas volare, tanquam azureus resistentia.
          Decors ridetis!
        </p>
      </div>

    </section>
  </div>

  <div class="row">
    <section class="col-lg-10">

      <article class="currentAdd">
        <div class="houseDefaultPix"><img src="/assets/images/1.jpg" alt="housePix"></div>
        <div class="info"><span>10 <i class="fa fa-eye"></i> </span><span><a href="#"> 10 <i class="fa fa-envelope"></i> </a></span> <span><button routerLink="/edit_ad"> Edit </button> <button>Remove</button></span></div>
      </article>

      <article class="pastAdd">
        <ul>
          <li>
            <div class="houseDefaultPix"><img src="/assets/images/1.jpg" alt="housePix"></div>
            <div class="info"><span>10 <i class="fa fa-eye"></i> </span><span><a href="#"> 10 <i class="fa fa-envelope"></i> </a></span> <span><button>Remove</button></span></div>
          </li>
          <li>
            <div class="houseDefaultPix"><img src="/assets/images/1.jpg" alt="housePix"></div>
            <div class="info"><span>10 <i class="fa fa-eye"></i> </span><span><a href="#"> 10 <i class="fa fa-envelope"></i> </a></span> <span><button>Remove</button></span></div>
          </li>
          <li>
            <div class="houseDefaultPix"><img src="/assets/images/1.jpg" alt="housePix"></div>
            <div class="info"><span>10 <i class="fa fa-eye"></i> </span><span><a href="#"> 10 <i class="fa fa-envelope"></i> </a></span> <span><button>Remove</button></span></div>
          </li>
          <li>
            <div class="houseDefaultPix"><img src="/assets/images/1.jpg" alt="housePix"></div>
            <div class="info"><span>10 <i class="fa fa-eye"></i> </span><span><a href="#"> 10 <i class="fa fa-envelope"></i> </a></span> <span><button>Remove</button></span></div>
          </li>
        </ul>
      </article>
    </section>
  </div>
</section>
