<footer class="row">
  <h2 class="topic">Footer</h2>
  <article class="col-3 quickLinks">
    <ul class="list-unstyled">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">About us</a>
      </li>
      <li>
        <a href="#">F.a.q</a>
      </li>
      <li>
        <a href="#">Terms and Condition</a>
      </li>
      <li>
        <a href="#">Plans and Pricing</a>
      </li>
      <li>
        <a href="#">Using roommatespot safely</a>
      </li>
    </ul>
  </article>

  <article class="social col-4">
    <ul class="list-unstyled">
      <li><a href="#"> facebook </a></li>
      <li><a href="#">twitter </a></li>
      <li><a href="#">Instagram</a></li>
    </ul>
  </article>

  <article class="col-4">
    <form>
      <label for="location" class="sr-only">Search location</label>
      <input id="location" placeholder="Location" />
      <button class="btn">Search</button>
    </form>
  </article>
</footer>
