<div style="margin-top: 50px"><a href="#">Listings</a> / <a href="#">View</a> </div>

<section class="row">
  <div class="col-1"></div>
  <article class="col-4 images">
    <div class="row">
      <div class="col-12">
        <figure>
          <div class="main">
            <img src="/assets/images/pp.jpg" alt="room pix">
          </div>
          <figcaption>
              <div><img src="/assets/images/pp.jpg" /> </div>
              <div><img src="/assets/images/pp.jpg" /> </div>
              <div><img src="/assets/images/pp.jpg" /> </div>
              <div><img src="/assets/images/pp.jpg" /> </div>
          </figcaption>
        </figure>
      </div>
    </div>
  </article>
  <article class="col-4 description">
    <div class="title">
      <h4>Bungalow</h4>
   <span>Ajah, Lagos</span>
    </div>

    <div>
      <span>Time left: </span><span>5 Months</span></div>

    <div><span>Amount: </span> <span>#30,000</span></div>
    <div><span>Description:  </span> <span>Creators, teachers, and apostolic lovers will always protect them.
      Paradise of beauty will daily study a strange body.
      Everything we do is connected with politics: suffering, stigma, heaven, hypnosis.
      Confucius says: thought, silence, volume.
      </span>
    </div>

    <div class="contact">
      <button>Let's talk <i class="fa fa-envelope"></i> </button>
    </div>
  </article>
  <article class="col-3 chatSpace">

  </article>
</section>
