<section class="container-fluid">
  <h2 class="topic">Filter Form</h2>
  <div class="filter row">
    <div class="col-2"></div>
    <div class="col-7">
      <h3>Listings</h3>
    </div>
    <div class="col-3 filter-icon">
      <a href="#"> Filter<i class="fa fa-chevron-down"></i></a>
      <a href="#"> <i class="fa fa-th"></i></a>
      <a href="#"><i class="fa fa-bars"></i></a>
    </div>
  </div>

  <div>
    <!--<h4>Result for all</h4>-->
    <div class="row">
      <div class="col-2 filterSection">
        <label for="state">Choose State
          <select id="state">
            <option>All</option>
          </select>
        </label>

        <label for="area">Choose Area
          <select id="area">
            <option>Any</option>
          </select>
        </label>

        <label for="area">Age Range
          <select>
            <option>All</option>
            <option>18 - 22</option>
            <option>23 - 30</option>
            <option>31 - 35</option>
            <option>36 -40</option>
            <option>41 - 50</option>
          </select>
        </label>

        <div class="smokerChoose">
          <div>Smoker</div>
          <input id="yesSmoke" type="radio" name="smoker"> <label for="yesSmoke">Yes</label>
          <input id="noSmoke" type="radio" name="smoker"> <label for="noSmoke">No</label>
          <input id="any" type="radio" name="smoker" checked="checked"> <label for="any">Don't mind</label>
        </div>
      </div>

      <div class="col-10 searchResults">
        <ul class="list-unstyled row">
          <li class="col-4">
            <div class="card">
              <img src="/assets/images/pp.jpg" class="card-img" />
              <div class="details card-footer">
                <h5 class="card-title">Bungalow</h5>
                <span class="card-text rounded border border-dark">Ajah, Lagos</span>
                <span class="rounded border border-dark">#50,000</span>
                <a routerLink="/description" class="btn btn-outline-dark continue" href="#"> . . . </a>
              </div>

              <div class="card-title a-bottom">
                <a href="#" class="card-link"> <img src="/assets/images/pp.jpg" class="card-img-bottom rounded-circle"> JDoe</a>
              </div>
            </div>
          </li>

          <li class="col-4">
            <div class="card">
              <img src="/assets/images/pp.jpg" class="card-img" />
              <div class="details card-footer">
                <h5 class="card-title">Bungalow</h5>
                <span class="card-text rounded border border-dark">Ajah, Lagos</span>
                <span class="rounded border border-dark">#50,000</span>
                <a routerLink="/description" class="btn btn-outline-dark continue" href="#"> . . . </a>
              </div>

              <div class="card-title a-bottom">
                <a href="#" class="card-link"> <img src="/assets/images/pp.jpg" class="card-img-bottom rounded-circle"> JDoe</a>
              </div>
            </div>
          </li>


          <li class="col-4">
            <div class="card">
              <img src="/assets/images/pp.jpg" class="card-img" />
              <div class="details card-footer">
                <h5 class="card-title">Bungalow</h5>
                <span class="card-text rounded border border-dark">Ajah, Lagos</span>
                <span class="rounded border border-dark">#50,000</span>
                <a routerLink="/description" class="btn btn-outline-dark continue" href="#"> . . . </a>
              </div>

              <div class="card-title a-bottom">
                <a href="#" class="card-link"> <img src="/assets/images/pp.jpg" class="card-img-bottom rounded-circle"> JDoe</a>
              </div>
            </div>
          </li>


          <li class="col-4">
            <div class="card">
              <img src="/assets/images/pp.jpg" class="card-img" />
              <div class="details card-footer">
                <h5 class="card-title">Bungalow</h5>
                <span class="card-text rounded border border-dark">Ajah, Lagos</span>
                <span class="rounded border border-dark">#50,000</span>
                <a routerLink="/description" class="btn btn-outline-dark continue" href="#"> . . . </a>
              </div>

              <div class="card-title a-bottom">
                <a href="#" class="card-link"> <img src="/assets/images/pp.jpg" class="card-img-bottom rounded-circle"> JDoe</a>
              </div>
            </div>
          </li>

          <li class="col-4">
            <div class="card">
              <img src="/assets/images/pp.jpg" class="card-img" />
              <div class="details card-footer">
                <h5 class="card-title">Bungalow</h5>
                <span class="card-text rounded border border-dark">Ajah, Lagos</span>
                <span class="rounded border border-dark">#50,000</span>
                <a routerLink="/description" class="btn btn-outline-dark continue" href="#"> . . . </a>
              </div>

              <div class="card-title a-bottom">
                <a href="#" class="card-link"> <img src="/assets/images/pp.jpg" class="card-img-bottom rounded-circle"> JDoe</a>
              </div>
            </div>
          </li>

          <li class="col-4">
            <div class="card">
              <img src="/assets/images/pp.jpg" class="card-img" />
              <div class="details card-footer">
                <h5 class="card-title">Bungalow</h5>
                <span class="card-text rounded border border-dark">Ajah, Lagos</span>
                <span class="rounded border border-dark">#50,000</span>
                <a routerLink="/description" class="btn btn-outline-dark continue" href="#"> . . . </a>
              </div>

              <div class="card-title a-bottom">
                <a href="#" class="card-link"> <img src="/assets/images/pp.jpg" class="card-img-bottom rounded-circle"> JDoe</a>
              </div>
            </div>
          </li>

          <li class="col-4">
            <div class="card">
              <img src="/assets/images/pp.jpg" class="card-img" />
              <div class="details card-footer">
                <h5 class="card-title">Bungalow</h5>
                <span class="card-text rounded border border-dark">Ajah, Lagos</span>
                <span class="rounded border border-dark">#50,000</span>
                <a routerLink="/description" class="btn btn-outline-dark continue" href="#"> . . . </a>
              </div>

              <div class="card-title a-bottom">
                <a href="#" class="card-link"> <img src="/assets/images/pp.jpg" class="card-img-bottom rounded-circle"> JDoe</a>
              </div>
            </div>
          </li>

          <li class="col-4">
            <div class="card">
              <img src="/assets/images/pp.jpg" class="card-img" />
              <div class="details card-footer">
                <h5 class="card-title">Bungalow</h5>
                <span class="card-text rounded border border-dark">Ajah, Lagos</span>
                <span class="rounded border border-dark">#50,000</span>
                <a routerLink="/description" class="btn btn-outline-dark continue" href="#"> . . . </a>
              </div>

              <div class="card-title a-bottom">
                <a href="#" class="card-link"> <img src="/assets/images/pp.jpg" class="card-img-bottom rounded-circle"> JDoe</a>
              </div>
            </div>
          </li>

          <li class="col-4">
            <div class="card">
              <img src="/assets/images/pp.jpg" class="card-img" />
              <div class="details card-footer">
                <h5 class="card-title">Bungalow</h5>
                <span class="card-text rounded border border-dark">Ajah, Lagos</span>
                <span class="rounded border border-dark">#50,000</span>
                <a routerLink="/description" class="btn btn-outline-dark continue" href="#"> . . . </a>
              </div>

              <div class="card-title a-bottom">
                <a href="#" class="card-link"> <img src="/assets/images/pp.jpg" class="card-img-bottom rounded-circle"> JDoe</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
